{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>
        Snippetbox is a guided project made with patience. It's a straightforward purpose project, which is: create snippets!
    </p>
    <p>
    Snippetbox allows you to create and share snippets easly. A snippet is a block of text that can contain any type of information: such as code, plain text or, why not, a poem.
   </p>
   <p>
    The snippets are stored for a selected period of time and you must have and account to create them.
   </p>
{{end}}
